.upnext-list {
  list-style-type: none;
}
.list-button {
  font-family: Poppins;
  cursor: pointer;
  border-radius: 2rem;
}

.upnext-list-item-input {
  font-family: Poppins;
  border-radius: 0.375rem;
}

.completed-list {
  list-style-type: none;
}
